<!doctype html>
<html lang="en">
{% include head.html %}
<body class="{{ page.class }}">

  {% if page.category != 404 %}
  {% include header.html %}
  {% endif %}

  <div class="SiteWrapper">
    {% if page.markdown == 1 %}
      {{ content | markdownify }}
    {% else %}
      {{ content }}
    {% endif %}

    {% if page.category != 404 %}
    {% include foot.html %}
    {% endif %}
  </div>

  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
  <script type="text/javascript"> docsearch({
      apiKey: '9df58ffd00f1dfb0eb2c5c6eaff8d971',
      indexName: 'yeoman',
      inputSelector: '#q'
  });
  </script>
</body>
</html>
