<h1><a href="{{ root_url }}/">{{ site.title }}</a></h1>
<h4>{{site.subtitle}}</h4>
<nav id="main-nav">{% include navigation.html %}</nav>
<nav id="mobile-nav">
	<div class="alignleft menu">
		<a class="button">Menu</a>
		<div class="container">{% include navigation.html %}</div>
	</div>
	<div class="alignright search">
		<a class="button"></a>
		<div class="container">
			<form action="{{ site.simple_search }}" method="get">
				<input type="text" name="q" results="0">
				<input type="hidden" name="q" value="site:{{ site.url | shorthand_url }}">
			</form>
		</div>
	</div>
</nav>

{% include custom/header.html %}
