---
layout: default
markdown: 1
---

# COMMAND LINE

The Yeoman Command-Line Interface (CLI) provides access to most of our features. In this section, you can learn about the various commands supported, about our generator system and many other topics related to creating and building projects with Yeoman.

## Commands & Topics

* [help](#help)
* [init](#init)
* [build](#build)
* [server](#server)
* [test](#test)
* [generator](#generators)
* [modules](#modules)
* [install](#install)
* [update](#update)
* [search](#search)
* [list](#list)
* [lookup](#lookup)
* [uninstall](#uninstall)

{% include yeoman.wiki/docs/commands/yeoman-help.md %}
{% include yeoman.wiki/docs/commands/yeoman-init.md %}
{% include yeoman.wiki/docs/commands/yeoman-build.md %}
{% include yeoman.wiki/docs/commands/yeoman-server.md %}
{% include yeoman.wiki/docs/commands/yeoman-test.md %}
{% include yeoman.wiki/docs/commands/yeoman-install.md %}
{% include yeoman.wiki/docs/commands/yeoman-list.md %}
{% include yeoman.wiki/docs/commands/yeoman-lookup.md %}
{% include yeoman.wiki/docs/commands/yeoman-search.md %}
{% include yeoman.wiki/docs/commands/yeoman-update.md %}
{% include yeoman.wiki/docs/commands/yeoman-uninstall.md %}
{% include yeoman.wiki/docs/commands/Generators.md %}
{% include yeoman.wiki/docs/commands/Modules.md %}

<img src="assets/img/yeoman-006.png" class="character">
