  <nav>
    <header><a href="/index.html"><img src="/assets/img/yeoman-logo.png"></a></header>
    <ul>
      <li class="nav-divider"><a href="/index.html"><img src="/assets/img/icon-home.png">Home</a></li>
      <li class="nav-divider"><a href="/whyyeoman.html"><img src="/assets/img/icon-why-yeoman.png">Why Yeoman?</a></li>

      <li><a href="/blog"><img src="/assets/img/icon-getting-started.png">Blog</a></li>
      <li class="nav-sub nav-divider"><a href="/blog/archive.html">Archive</a></li>

      <li><a href="https://github.com/yeoman/yeoman/wiki"><img src="/assets/img/icon-documentation.png">Documentation</a></li>
      <li class="nav-sub"><a href="/road.html">Road to 1.0</a></li>
      <li class="nav-sub nav-divider"><a href="/migrate.html">Migrating from 0.9</a></li>

      <li><a href="/faq.html"><img src="/assets/img/icon-faqs.png">FAQ</a></li>
      <li class"nav-divider"><a href="https://plus.google.com/101063139999404044459/posts"><img src="/assets/img/icon-google-plus.png">Google Plus</a></li>
      <li class="nav-divider"><a href="http://twitter.com/yeoman"><img src="/assets/img/icon-twitter.png">Twitter</a></li>

      <li><a href="http://github.com/yeoman/yeoman"><img src="/assets/img/icon-github.png">GitHub</a></li>
      <li><a href="https://github.com/yeoman/yeoman/blob/master/contributing.md"><img src="/assets/img/icon-contributing.png">Contributing</a></li>
    </ul>
  </nav>
