  <nav>
    <header><a href="http://yeoman.io/index.html"><img src="http://yeoman.io/assets/img/yeoman-logo.png"></a></header>
    <ul>
      <li class="nav-divider"><a href="http://yeoman.io/index.html"><img src="http://yeoman.io/assets/img/icon-home.png">Home</a></li>
      <li class="nav-divider"><a href="http://yeoman.io/whyyeoman.html"><img src="http://yeoman.io/assets/img/icon-why-yeoman.png">Why Yeoman?</a></li>
      <li><a href="http://yeoman.io/gettingstarted.html"><img src="http://yeoman.io/assets/img/icon-getting-started.png">Getting Started (1.0)</a></li>
      <li class="nav-sub"><a href="http://yeoman.io/about.html">About</a></li>
      <li class="nav-sub"><a href="http://yeoman.io/roadmap.html">Roadmap</a></li>
      <li class="nav-sub"><a href="http://yeoman.io/deployment.html">Deployment</a></li>
      <li class="nav-sub"><a href="http://yeoman.io/support.html">Support</a></li>
      <li class="nav-divider nav-sub"><a href="http://yeoman.io/packagemanager.html">Package Manager</a></li>
      <li><a href="http://yeoman.io/generators.html">Generators</a></li>
      <li class="nav-sub"><a href="http://yeoman.io/community-generators.html">Community Generators</a></li>
      <li class="nav-sub"><a href="http://yeoman.io/generators.html#writing-your-first-generator">Write Your First Generator</a></li>
      <li class="nav-sub"><a href="http://yeoman.io/generators.html#get-help">Get Help</a></li>
      <li class="nav-sub"><a href="http://yeoman.io/generators.html#reference-materials">Reference Materials</a></li>
      <li class="nav-sub"><a href="http://yeoman.io/generators.html#snippets">Snippets</a></li>
      <li class="nav-divider nav-sub"><a href="http://yeoman.io/generators.html#frequently-asked-questions">FAQ</a></li>
      <li><a href="http://yeoman.io/https://github.com/yeoman/yeoman/wiki"><img src="http://yeoman.io/assets/img/icon-documentation.png">Documentation</a></li>
      <li class="nav-sub"><a href="http://yeoman.io/road.html">Road to 1.0</a></li>
      <li class="nav-sub nav-divider"><a href="http://yeoman.io/migrate.html">Migrating from 0.9</a></li>
      <li><a href="http://yeoman.io/faq.html"><img src="http://yeoman.io/assets/img/icon-faqs.png">FAQ</a></li>
      <li class"nav-divider"><a href="http://yeoman.io/https://plus.google.com/101063139999404044459/posts"><img src="http://yeoman.io/assets/img/icon-google-plus.png">Google Plus</a></li>
      <li class="nav-divider"><a href="http://yeoman.io/http://twitter.com/yeoman"><img src="http://yeoman.io/assets/img/icon-twitter.png">Twitter</a></li>
      <li><a href="http://yeoman.io/http://github.com/yeoman/yeoman"><img src="http://yeoman.io/assets/img/icon-github.png">GitHub</a></li>
      <li><a href="http://yeoman.io/https://github.com/yeoman/yeoman/blob/master/contributing.md"><img src="http://yeoman.io/assets/img/icon-contributing.png">Contributing</a></li>
    </ul>
  </nav>
