---
layout: default
markdown: 0
class: discovery-page official-generators
---
  <h1>Yeoman Official Generators</h1>
  <p style="text-align:center"><small>The officially maintained (by the Yeoman team) generators. Use these as a base to create your own generators or to create your own project.</small></p>
  <section class="main">
    <div id="loading">
      <p>Loading generators...</p>
    </div>
    <div id="plugins-all"></div>
    <div class="message" id="search-notfound">No matching generator found. Try something else.</div>
  </section>

  <script type="text/template" id="plugins-all-template">
    <table class="table">
      <thead>
        <tr>
          <th class="sort" data-sort="name">Name</th>
          <th class="sort" data-sort="desc">Description</th>
          <th class="sort asc" data-sort="updated">Last updated</th>
          <th class="sort asc" data-sort="stars">Stars</th>
          <th class="sort asc" data-sort="forks">Forks</th>
        </tr>
      </thead>
      <tbody class="list">
        <% _.each(modules, function (el) { %>
          <% var name = el.name.replace('generator-', ''); %>
          <% var keywords = el.keywords %>
          <tr>
            <td class="name"><a href="<%- el.website %>"><%- name %></a></td>
            <td class="desc"><%- el.description %><div class="hidden"><%- keywords %></div></td>
            <td class="updated"><time datetime="<%- el.updated %>"><%- el.updated %></time></td>
            <td class="stars"><%- el.stars %></td>
            <td class="forks"><%- el.forks %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </script>
