<ul>
  <li>
    {% link /authoring/index.html Getting started %}
  </li>
  <li>
    {% link /authoring/running-context.html Running Context %}
  </li>
  <li>
    {% link /authoring/user-interactions.html User Interactions %}
  </li>
  <li>
    {% link /authoring/composability.html Composability %}
  </li>
  <li>
    {% link /authoring/dependencies.html Managing Dependencies %}
  </li>
  <li>
    {% link /authoring/file-system.html Interacting with the file system %}
  </li>
  <li>
    {% link /authoring/gruntfile.html Creating a Gruntfile %}
  </li>
  <li>
    {% link /authoring/storage.html Storing  user configs %}
  </li>
  <li>
    {% link /authoring/testing.html Unit testing %}
  </li>
  <li>
    <a href="http://yeoman.github.io/generator/">Full API documentation</a>
  </li>
</ul>
