<nav class="context-nav">
  <ul>
    <li class="nav-item">
      <a href="/authoring">Getting started</a>
    </li>
    <li class="nav-item">
      <a href="/authoring/running-context.html">Running Context</a>
    </li>
    <li class="nav-item">
      <a href="/authoring/user-interactions.html">User Interactions</a>
    </li>
    <li class="nav-item">
      <a href="/authoring/composability.html">Composability</a>
    </li>
    <li class="nav-item">
      <a href="/authoring/dependencies.html">Managing Dependencies</a>
    </li>
    <li class="nav-item">
      <a href="/authoring/file-system.html">Interacting with the file system</a>
    </li>
    <li class="nav-item">
      <a href="/authoring/gruntfile.html">Creating a Gruntfile</a>
    </li>
    <li class="nav-item">
      <a href="/authoring/storage.html">Storing  user configs</a>
    </li>
    <li class="nav-item">
      <a href="/authoring/testing.html">Unit testing</a>
    </li>
  </ul>
</nav>
