<nav class="context-nav">
  <ul>
    <li class="nav-item">
      {% link /authoring/index.html Getting started %}
    </li>
    <li class="nav-item">
      {% link /authoring/running-context.html Running Context %}
    </li>
    <li class="nav-item">
      {% link /authoring/user-interactions.html User Interactions %}
    </li>
    <li class="nav-item">
      {% link /authoring/composability.html Composability %}
    </li>
    <li class="nav-item">
      {% link /authoring/dependencies.html Managing Dependencies %}
    </li>
    <li class="nav-item">
      {% link /authoring/file-system.html Interacting with the file system %}
    </li>
    <li class="nav-item">
      {% link /authoring/gruntfile.html Creating a Gruntfile %}
    </li>
    <li class="nav-item">
      {% link /authoring/storage.html Storing  user configs %}
    </li>
    <li class="nav-item">
      {% link /authoring/testing.html Unit testing %}
    </li>
  </ul>
</nav>
