<nav class="context-nav">
  <ul>
    <li class="nav-item">
      {% link /codelab.html Let's Scaffold a Web App %}
    </li>
    <li class="nav-item">
      {% link /codelab/meet-yeoman.html Meet Yeoman %}
    </li>
    <li class="nav-item">
      {% link /codelab/setup.html Step 1 %}
    </li>
    <li class="nav-item">
      {% link /codelab/install-generators.html Step 2%}
    </li>
    <li class="nav-item">
      {% link /codelab/scaffold-app.html Step 3 %}
    </li>
    <li class="nav-item">
      {% link /codelab/review-generated-files.html Step 4 %}
    </li>
    <li class="nav-item">
      {% link /codelab/preview-inbrowser.html Step 5 %}
    </li>
    <li class="nav-item">
      {% link /codelab/write-app.html Step 6 %}
    </li>
    <li class="nav-item">
      {% link /codelab/install-packages.html Step 7 %}
    </li>
    <li class="nav-item">
      {% link /codelab/write-unit-tests.html Step 8 %}
    </li>
    <li class="nav-item">
      {% link /codelab/prepare-production.html Step 9 %}
    </li>
    <li class="nav-item">
      {% link /codelab/local-storage.html Step 10 %}
    </li>
    <li class="nav-item">
      {% link /codelab/keep-going.html Keep going  %}
    </li>
  </ul>
</nav>