<nav class="context-nav">
  <ul>
    <li class="nav-item">
      {% link /contributing/index.html Contributing %}
    </li>
    <li class="nav-item">
      {% link /contributing/opening-issues.html How to open an issue %}
    </li>
    <li class="nav-item">
      {% link /contributing/pull-request.html How to submit a PR %}
    </li>
    <li class="nav-item">
      {% link /contributing/style-guide.html Style Guide %}
    </li>
    <li class="nav-item">
      {% link /contributing/testing-guidelines.html Testing Guidelines %}
    </li>
  </ul>
</nav>
