<nav class="context-nav">
  <ul>
    <li class="nav-item">
      {% link /learning/index.html Getting started %}
    </li>
    <li class="nav-item">
      {% link /codelab.html Tutorial (codelab) %}
    </li>
    <li class="nav-item">
      {% link /learning/resources.html Resources %}
    </li>
    <li class="nav-item">
      {% link /learning/deployment.html Deployment %}
    </li>
    <li class="nav-item">
      {% link /learning/faq.html FAQ %}
    </li>
    <li class="nav-item">
      {% link /learning/support.html Support %}
    </li>
  </ul>
</nav>
