article{
	
	
	padding: 30px 0;
	position: relative;
	@media screen and (max-width: 620px){
		padding-bottom: 15px;
	}
	@media screen and (max-width: 620px){
		padding: 15px 0;
	}
	h2.title{
		font-size: 36px;
		font-weight: 300;
		line-height: 1;
		margin-bottom: 20px;
		margin-left:0px;
		text-align:left;
		border-bottom: 0px;
		a{
			color: #333;
		}
		a:hover{
		color: $color-main;
		border-bottom: 0px;
		}
		border-bottom: 1px solid $color-gray04;
		padding-bottom: .75em;
		@media screen and (max-width: 620px) {
		font-size: 18px;
		}

	}
	
	.entry-content{
		line-height: 1.5;
		text-align: left;
		
				a {
 			text-decoration:none;
			color:#bf0222;
			-webkit-transition:border .25s linear;
			-moz-transition:border .25s linear;
			-ms-transition:border .25s linear;
			transition:border .25s linear;
			outline:none;
		}

		a:link,a:visited {
			border-bottom:1px solid rgba(191,2,34,0);
		}

		a:hover {
			border-bottom:1px solid #bf0222;
		}

		
		.more-link{
			display: block;
			margin-top: 16px;
			padding-left: 30px;
			position: relative;
			border-bottom: 0px;
			&:before{
				content: "\f061";
				font: 1.3em $font-icon;
				line-height: 1.6em;
				position: absolute;
				left: 0;
			}
			
		}
		p, blockquote, ul, ol, dl, table, iframe, h1, h2, h3, h4, h5, h6, .video-container{
			margin-top: 1.5em;
			margin-bottom: 1.5em;
		}
		ul, ol, dl{
			margin-left: 20px;
			ul, ol, dl{
				margin-top: 0;
			}
		}
		strong{
			font-weight: bold;
		}
		em{
			font-style: italic;
		}
		p{
			margin-top: 10px;	
		}
		h2{
			font-weight: 300;
			border-bottom: 1px solid $color-gray04;
			position: relative;
			&:before{
				content: "";
				position: absolute;
				bottom: -2px;
				border-bottom: 1px solid $color-gray05;
				width: 100%;
			}
		}
		
		img, video{
			max-width: 100%;
			height: auto;
			-webkit-border-radius:5px;
			-moz-border-radius:5px;
			border-radius:5px;
			-webkit-border-radius:5px;
			-moz-border-radius:5px;
			border-radius:5px;
			-webkit-box-shadow:0 0 15px rgba(0,0,0,0.35);
			-moz-box-shadow:0 0 15px rgba(0,0,0,0.35);
			box-shadow:0 0 15px rgba(0,0,0,0.35);
			border-bottom: 0px;
		}
		
		blockquote{
			background: $color-gray04;
			border-left: 5px solid $color-gray03;
			padding: 15px 20px;
			margin-top: 10px;
			& > p:first-of-type{
				margin-top: 0;
			}
		}
		iframe{
			border: none;
		}
		table{
			background: $color-gray04;
			border: 1px solid $color-gray03;
			border-spacing: 0;
			margin-top: 10px;
			th{
				background: $color-gray03;
				padding: 0 15px;
			}
			td{
				text-align: center;
			}
			tr{
				&:nth-of-type(2n){
					background: #d5d5d5;
				}
			}
		}
		.caption{
			display: block;
			font-size: 0.9em;
			color: $color-gray02;
			padding-left: 25px;
			position: relative;
			&:before{
				content: "\f040";
				color: $color-gray03;
				font: 1.3em $font-icon;
				line-height: 1.6em;
				position: absolute;
				left: 0;
			}
		}
		.video-container{
			position: relative;
			padding-bottom: 56.25%;
			padding-top: 30px;
			height: 0;
			overflow: hidden;
			iframe, object, embed{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				margin-top: 0;
			}
		}
	}
}
.share{
	padding: 15px 0;
	padding-left:260px;
	@media screen and (max-width: 620px) {
	padding-left: 0px;
	}
	@include border-shadow();
}