<footer class="SiteFooter">
  <div class="SiteFooter-donation">
    <div class="Donation">
      <div class="Donation-sticker-clipping">
        <img
          src="/assets/img/yeoman-character-sticker.png"
          class="Donation-sticker"
          width="190"
          height="294"
          alt="Stickers!"
        />
      </div>
      <div class="Donation-text">
        <a href="https://yeoman.threadless.com/">
          Show your love for
          <strong>Yeoman</strong>, <br />
          wear our <strong>merch</strong>!
        </a>
      </div>
    </div>
  </div>
  <ul class="SiteFooter-links">
    <li>
      <a href="https://twitter.com/yeoman" class="icon">
        <img
          src="/assets/img/social-twitter.svg"
          class="SiteFooter-icon"
          alt="Twitter"
        />
      </a>
    </li>
    <li>
      <a href="https://github.com/yeoman/yeoman" class="icon">
        <img
          src="/assets/img/social-github.svg"
          class="SiteFooter-icon"
          alt="GitHub"
        />
      </a>
    </li>
    <li>
      <a href="/blog/atom.xml" class="icon">
        <img
          src="/assets/img/social-feed.svg"
          class="SiteFooter-icon"
          alt="Feed"
        />
      </a>
    </li>
    <li class="mobile-ln"></li>
    <li>
      <a
        href="https://yeoman.github.io/generator/"
        class="SiteFooter-button SiteFooter-button--light"
        >API</a
      >
    </li>
    <li>
      <a
        href="https://github.com/yeoman/yeoman.github.io/blob/source/app/{{
          page.path
        }}"
        class="SiteFooter-button"
        title="Edit this page on GitHub to help improve the site"
        >Improve this page</a
      >
    </li>
  </ul>
</footer>
<!-- /.footer-links -->

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
{% if page.title == 'Generators' %}
<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@2.7.1"></script>
<script src="https://cdn.jsdelivr.net/npm/timeago.js@3.0.2/dist/timeago.min.js"></script>
{% endif %}

<script src="/assets/js/libs/prettify.js"></script>
<script src="/assets/js/script.js"></script>
{% if page.title == 'Generators' %}
<!-- The #bootstrapper script will be removed by grunt-reduce during build. -->
<!-- Use GETSTATIURL to indicate that manually loaded strings are actually URLs -->
<script src="/assets/js/libs/doT.min.js"></script>
<script src="/assets/js/generator.js"></script>
{% endif %}

<script>
  // $script.js - github.com/ded/script.js
  (function(a, b, c) {
    typeof c["module"] != "undefined" && c.module.exports
      ? (c.module.exports = b())
      : typeof c["define"] != "undefined" &&
        c["define"] == "function" &&
        c.define.amd
      ? define(a, b)
      : (c[a] = b());
  })(
    "$script",
    function() {
      function p(a, b) {
        for (var c = 0, d = a.length; c < d; ++c) if (!b(a[c])) return j;
        return 1;
      }
      function q(a, b) {
        p(a, function(a) {
          return !b(a);
        });
      }
      function r(a, b, i) {
        function o(a) {
          return a.call ? a() : d[a];
        }
        function t() {
          if (!--n) {
            (d[m] = 1), l && l();
            for (var a in f) p(a.split("|"), o) && !q(f[a], o) && (f[a] = []);
          }
        }
        a = a[k] ? a : [a];
        var j = b && b.call,
          l = j ? b : i,
          m = j ? a.join("") : b,
          n = a.length;
        return (
          setTimeout(function() {
            q(a, function(a) {
              if (h[a]) return m && (e[m] = 1), h[a] == 2 && t();
              (h[a] = 1),
                m && (e[m] = 1),
                s(!c.test(a) && g ? g + a + ".js" : a, t);
            });
          }, 0),
          r
        );
      }
      function s(c, d) {
        var e = a.createElement("script"),
          f = j;
        (e.onload = e.onerror = e[o] = function() {
          if ((e[m] && !/^c|loade/.test(e[m])) || f) return;
          (e.onload = e[o] = null), (f = 1), (h[c] = 2), d();
        }),
          (e.async = 1),
          (e.src = c),
          b.insertBefore(e, b.firstChild);
      }
      var a = document,
        b = a.getElementsByTagName("head")[0],
        c = /^https?:\/\//,
        d = {},
        e = {},
        f = {},
        g,
        h = {},
        i = "string",
        j = !1,
        k = "push",
        l = "DOMContentLoaded",
        m = "readyState",
        n = "addEventListener",
        o = "onreadystatechange";
      return (
        !a[m] &&
          a[n] &&
          (a[n](
            l,
            function t() {
              a.removeEventListener(l, t, j), (a[m] = "complete");
            },
            j
          ),
          (a[m] = "loading")),
        (r.get = s),
        (r.order = function(a, b, c) {
          (function d(e) {
            (e = a.shift()), a.length ? r(e, d) : r(e, b, c);
          })();
        }),
        (r.path = function(a) {
          g = a;
        }),
        (r.ready = function(a, b, c) {
          a = a[k] ? a : [a];
          var e = [];
          return (
            !q(a, function(a) {
              d[a] || e[k](a);
            }) &&
            p(a, function(a) {
              return d[a];
            })
              ? b()
              : !(function(a) {
                  (f[a] = f[a] || []), f[a][k](b), c && c(e);
                })(a.join("|")),
            r
          );
        }),
        r
      );
    },
    this
  );
  $script("https://apis.google.com/js/plusone.js");
  $script("//platform.twitter.com/widgets.js");
</script>
