<header class="page-header">
  <div class="container">
    <h1 class="logo">
      <a href="/"><img src="assets/img/logo.png" alt="Yeoman"></a>
    </h1>
    <nav>
      <ul class="main-nav">
        <li>
          <a href="/about.html">About</a>
          <ul class="main-nav-sub">
            <li><a href="">Basic Instructions</a></li>
            <li><a href="">Tools</a></li>
            <li><a href="/whyyeoman.html">Why Yeoman</a></li>
            <li><a href="">Team</a></li>
            <li><a href="">FAQ</a></li>
          </ul>
        </li>
        <li>
          <a href="/gettingstarted.html" class="selected">Getting Started</a>
          <ul class="main-nav-sub">
            <li><a href="">Instructions</a></li>
            <li><a href="">Videos</a></li>
            <li><a href="/deployment.html">Deployment</a></li>
            <li><a href="">Support</a></li>
          </ul>
        </li>
        <li>
          <a href="/generators.html">Generators</a>
          <ul class="main-nav-sub">
            <li><a href="">Generators</a></li>
            <li><a href="">Community Generators</a></li>
          </ul>
        </li>
        <li><a href="">Documentation</a></li>
        <li><a href="">API</a></li>
        <li><a href="">Blog</a></li>
      </ul>
    </nav>
  </div><!-- /.container -->
</header><!-- /.page-header -->
