<header class="page-header">
  <div class="container">
    <h1 class="logo">
      <a href="/"><img src="/assets/img/logo.png" alt="Yeoman"></a>
    </h1>
    <nav>
      <ul class="main-nav">
        <li>
          <a href="/gettingstarted.html">Using Yeoman</a>
          <ul class="main-nav-sub">
            <li><a href="/whyyeoman.html">Why Yeoman</a></li>
            <li><a href="">Instructions</a></li>
            <li><a href="">Videos</a></li>
            <li><a href="/deployment.html">Deployment</a></li>
            <li><a href="">Support</a></li>
          </ul>
        </li>
        <li>
          <a href="/community-generators.html">Finding Generators</a>
          <ul class="main-nav-sub">
            <li><a href="/official-generators.html">Official Generators</a></li>
            <li><a href="/community-generators.html">Community Generators</a></li>
          </ul>
        </li>
        <li>
          <a href="/authoring">Creating a generator</a>
        </li>
        <li>
          <a href="http://yeoman.github.io/generator/">API</a>
        </li>
        <li>
          <a href="/blog">Blog</a>
        </li>
      </ul>
    </nav>
  </div><!-- /.container -->
</header><!-- /.page-header -->
