<head>
  <meta charset="utf-8">
  <title>Yeoman - Modern workflows for modern webapps</title>
  <meta name="viewport" content="width=device-width">

  <link href="http://fonts.googleapis.com/css?family=Droid+Sans|Lekton|Ubuntu+Mono:400,700" rel="stylesheet">

  <!-- build:css({app,.tmp}) /assets/css/main.css -->
  <link href="/assets/css/normalize.css" rel="stylesheet">
  <link href="/assets/css/yeoman.css" rel="stylesheet">
  <link href="/assets/css/blog.css" rel="stylesheet">
  <link href="/assets/css/prettify.css" rel="stylesheet">
  <!-- endbuild -->

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
</head>
