<header class="page-header">
  <div class="container">
    <h1 class="logo">
      <a href="/"><img src="/assets/img/logo.png" alt="Yeoman"></a>
    </h1>
    <nav>
      <ul class="main-nav">
        <li>
          {% link /gettingstarted.html Using Yeoman %}
          <ul class="main-nav-sub">
            <li>{% link /whyyeoman.html Why Yeoman %}</li>
            <li>{% link /gettingstarted.html Getting started %}</li>
            <li>{% link /codelab.html Tutorial (codelab) %}</li>
            <li>{% link /videos.html Videos %}</li>
            <li>{% link /articles.html Articles %}</li>
            <li>{% link /deployment.html Deployment %}</li>
            <li>{% link /faq.html FAQ %}</li>
            <li>{% link /support.html Support %}</li>
          </ul>
        </li>
        <li>
          {% link /generators Finding Generators %}
          <ul class="main-nav-sub">
            <li>{% link /generators/official.html Official Generators %}</li>
            <li>{% link /generators/community.html Community Generators %}</li>
          </ul>
        </li>
        <li>
          {% link /authoring Creating a generator %}
        </li>
        <li>
          {% link http://yeoman.github.io/generator/ API %}
        </li>
        <li>
          {% link /blog Blog %}
        </li>
      </ul>
    </nav>
  </div><!-- /.container -->
</header><!-- /.page-header -->
