  <nav>
    <header><a href="/index.html"><img src="/assets/img/yeoman-logo.png"></a></header>
    <ul>
      <li class="nav-divider"><a href="/index.html"><img src="/assets/img/icon-home.png">Home</a></li>

      <li class="nav-divider"><a href="/whyyeoman.html"><img src="/assets/img/icon-why-yeoman.png">Why Yeoman?</a></li>

      <li class="nav-divider"><a href="/gettingstarted.html"><img src="/assets/img/icon-getting-started.png">Getting Started</a></li>
      <li class="nav-sub"><a href="/codelab.html">Codelab</a></li>
      <li class="nav-sub"><a href="/videos.html">Videos</a></li>
      <li class="nav-sub"><a href="/about.html">About</a></li>
      <li class="nav-sub"><a href="/deployment.html">Deployment</a></li>
      <li class="nav-sub"><a href="/support.html">Support</a></li>
      <li class="nav-sub"><a href="/articles.html">Articles</a></li>

      <li class="nav-divider"><a href="/blog"{% if page.class == 'blog' %} class="active"{% endif %}>Blog</a></li>

      <li class="nav-divider"><a href="/generators.html">Generators</a></li>
      <li class="nav-sub"><a href="/official-generators.html">Official Generators</a></li>
      <li class="nav-sub"><a href="/community-generators.html">Community Generators</a></li>
      <li class="nav-sub"><a href="/generators.html#writing-your-first-generator">Write Your First Generator</a></li>
      <li class="nav-sub"><a href="/generators.html#get-help">Get Help</a></li>
      <li class="nav-sub"><a href="/generators.html#reference-materials">Reference Materials</a></li>
      <li class="nav-sub"><a href="/generators.html#snippets">Snippets</a></li>
      <li class="nav-sub"><a href="/generators.html#frequently-asked-questions">FAQ</a></li>

      <li class="nav-divider">Writing a generator <img src="/assets/img/icon-documentation.png"></li>
      <li class="nav-sub"><a href="/authoring/getting-started.html">Getting Started</a></li>
      <li class="nav-sub"><a href="/authoring/running-context.html">Running Context</a></li>
      <li class="nav-sub"><a href="/authoring/composability.html">Composability</a></li>
      <li class="nav-sub"><a href="/authoring/user-interactions.html">User Interfaces</a></li>
      <li class="nav-sub"><a href="/authoring/file-system.html">Interacting with the file system</a></li>
      <li class="nav-sub"><a href="/authoring/storage.html">Storing and sharing configurations</a></li>
      <li class="nav-sub"><a href="/authoring/dependencies.html">Managing Dependencies</a></li>
      <li class="nav-sub"><a href="/authoring/testing.html">Unit Testing</a></li>
      <li class="nav-sub"><a href="http://yeoman.github.io/generator/">API reference</a></li>

      <li class="nav-divider"><a href="https://github.com/yeoman/yeoman/wiki"><img src="/assets/img/icon-documentation.png">Documentation</a></li>

      <li class="nav-divider"><a href="/faq.html"><img src="/assets/img/icon-faqs.png">FAQ</a></li>

      <li class="nav-divider"><a href="https://plus.google.com/101063139999404044459/posts"><img src="/assets/img/icon-google-plus.png">Google&#43;</a></li>
      <li><a href="http://twitter.com/yeoman"><img src="/assets/img/icon-twitter.png">Twitter</a></li>
      <li><a href="http://github.com/yeoman/yeoman"><img src="/assets/img/icon-github.png">GitHub</a></li>
      <li><a href="/blog/atom.xml" type="application/atom+xml"><img src="/assets/img/icon-rss-feed.png">Blog Feed</a>

      <li class="nav-divider"><a href="https://github.com/yeoman/yeoman/blob/master/contributing.md"><img src="/assets/img/icon-contributing.png">Contributing</a></li>
    </ul>
  </nav>
