---
layout: single-column
markdown: 0
title: Generators
class: discovery-page
---
  <section class="main">
    <a id="instructions-toggle">How to add your generator &raquo;</a>
    <div id="instructions" style="display:none">
      <p>
        Your generator will automatically show up in the list if it meets the following criteria. The list is populated every hour.
      </p>
      <ul>
        <li>Be published on the npmjs.org repository</li>
        <li>
          Have the following in the module's <code>package.json</code> file:
          <ul>
            <li>The name should be <code>generator-your-unique-name</code>. This means it should begin with `generator-` and be followed by a unique (to npm) name. Scoped name support is coming in the future.</li>
            <li><code>yeoman-generator</code> in the keyword property.</li>
            <li>A good description. If you forked the generator, it should describe what is different and why it was forked.</li>
          </ul>
        </li>
        <li>
          It'd be nice if it also had the following information:
          <ul>
            <li>Author information including name and link to your homepage.</li>
            <li>Generator documention link as its website.</li>
            <li>GitHub link in its repository field.</li>
          </ul>
        </li>
      </ul>
    </div>

    <hr>

    <div id="searchbox"></div>
    <div id="stats"></div>
    <div id="results"></div>
    <script type="text/template" id="template-item">
      <div class="generator">
        <div class="generator--left">
          <div class="generator--title">
            <a href="<%= it.url %>" class="generator--name"><%= it.name %></a>
            <a class="generator--author" href="<%= it.authorUrl %>">
                <img width="20" height="20" class="generator--avatar" src="<%= it.authorAvatar %>">
                <%= it.authorName %>
            </a>
            <span class="generator--version"><%= it.version %></span>
          </div>
          <div class="generator--description"><%= it.description %></div>
        </div>
        <div class="generator--right"->
          <div class="generator--downloads <%= it.downloadClass %>"><%= it.downloadReadable %></div>
          <div class="generator--date"><%= it.lastUpdated %></div>
        </div>
      </div>
    </script>

  </section>
