
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Yeoman - Modern workflows for modern webapps</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href='http://fonts.googleapis.com/css?family=Droid+Sans|Lekton|Ubuntu+Mono:400,700' rel='stylesheet' type='text/css'>
  <link href="css/normalize.css" rel="stylesheet" />
  <link href="css/yeoman.css" rel="stylesheet" />
  <link href="css/prettify.css" rel="stylesheet" />

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script src="js/libs/prettify.js"></script>
  <script src="js/script.js"></script>
</head>

<body>

  {% include sidebar.html %}

  {{content}}

</body>
</html>
