.blog #content {
  padding-bottom: 25px;
}

h1.banner {
  text-align: center;
  font-weight: bold;
}
h1.banner span {
  /*background: url('/assets/img/banner-center.png') repeat-x;*/
  display: inline-block;
  height: 46px;
  padding: 10px 10px 0;
}
h1.banner span::before {
  /*background: url('/assets/img/banner-left.png') no-repeat;*/
  content: " ";
  float: left;
  height: 46px;
  margin-left: -36px;
  margin-top: -10px;
  width: 28px;
}
h1.banner span::after {
  /*background: url('/assets/img/banner-right.png') no-repeat;*/
  content: " ";
  float: right;
  height: 46px;
  margin-right: -36px;
  margin-top: -10px;
  width: 28px;
}

.blog #posts article {
  border-bottom: 10px double #ccc;
  margin-bottom: 15px;
  padding-bottom: 20px;
  padding-top: 15px;
}

.blog a.active {
  font-size: 14px;
  font-weight: bold;
}
.blog a.active:before {
  content: "\25B8";
  margin-right: 3px;
}
