/* General Overrides */

body {
  background: white;
}

em {
  padding-right: 2px;
}

/* Codelab article */

article ul {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  padding-bottom: 20px; /* match paragraphs */
}
article li {
  font-size: 14px;
  line-height: 1.5;
}
article ul li ul {
  padding-bottom: 0;
}

.social {
  margin-top: 25px;
}

.authors {
  text-align: center; font-style: italic;
}

.keyboard {
  border: 1px solid #ccc;
  border-radius: 5px;
  -moz-border-radius: 5px;
  padding: 2px 6px;
  font-style: normal;
}

/* Note callouts */

.note { 
  padding: 15px;
  margin-bottom: 20px;
}
.note.important {
  background: #f2dede;
}
.note.tip {
  background: #d2e0d2;
}
.note p, 
.note li { 
  font-size: 13px;
  line-height: 18px;
}
.note p {
  padding-bottom: 10px;
}
.note h2 {
  font-size: 14px;
}

/* Images */
article img {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

.mast-holder {
  width: 100%;
  text-align: center;
}
.mast-holder img {
  max-height: 350px;
}

.mast-intro > img {
  max-height: 300px;
}

@media (min-width: 761px) {
  .mast-intro > img {
    float: left; 
    margin: -10px 10px 0 0;
    display: block;
  }
  .mast-intro ~ h2 {
    clear: left;
  }
  article {
    overflow: auto; /* required for above clear: left */;
  }
}

@media (min-width: 761px) {
  .side-by-side {
    overflow: auto;
  }
  .side-by-side img {
    width: 50%;
    float: left;
  }
}

/* Footer paging */

.codelab-paging {
  margin-top: 2em;
  text-align: center;
}
.codelab-paging a {
  font-weight: bold;
  white-space: nowrap;
}
.codelab-paging a:first-child {
  margin-right: 1em;
}
.codelab-paging a:nth-of-type(2) {
  margin-left: 1em;
}
