.SiteFooter {
  background: #000;
  padding: 20px;
  display: flex;
  color: #fff;
}

.SiteFooter-donation {
  flex: 1;
}

.SiteFooter-links {
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.SiteFooter-links li {
  display: inline-block;
  vertical-align: middle;
  margin: 3px;
}

.SiteFooter-links a {
  display: inline-block;
}

.SiteFooter-icon {
  width: 30px;
}

.SiteFooter-icon:hover,
.SiteFooter-icon:focus,
.SiteFooter-icon:active {
  opacity: 0.5;
}

.SiteFooter-button {
  display: inline-block;
  padding: 0.8em 1.2em;
  background: #333;
  color: #ccc;
  border-radius: 3px;
  text-decoration: none;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}

.SiteFooter-button:active,
.SiteFooter-button:hover,
.SiteFooter-button:focus {
  background: #555;
}

.SiteFooter-button--light {
  background: #5aadbb;
  color: #fff;
}

.SiteFooter-button--light:active,
.SiteFooter-button--light:hover,
.SiteFooter-button--light:focus {
  background: #3398a9;
}


@media (max-width: 800px) {
  .SiteFooter {
    display: block;
  }
}

@media (max-width: 500px) {
  .SiteFooter-links .mobile-ln {
    display: block;
  }
}

/**
 * Financing Yeoman section
 */

.Donation {
  display: block;
  position: relative;
  padding-left: 160px;
}

.Donation-sticker {
  position: absolute;
  left: 0px;
  top: -100px;
}

.Donation-text {
  position: relative;
  z-index: 1;
}

.Donation-text a {
  color: #fff;
  text-decoration: none;
}

@media (max-width: 850px) {
  .Donation {
    text-align: center;
    margin-bottom: 20px;
    padding-left: 0;
  }

  .Donation-sticker-clipping {
    position: absolute;
    left: -20px;
    right: -20px;
    bottom: -20px;
    top: -100px;
    overflow: hidden;
  }

  .Donation-sticker {
    left: 50%;
    margin-left: -250px;
    top: 0;
  }
}
